<div id="nav-title">
    <a href="/index.html">What To Eat</a> Admin
</div>
<ul id="sidebar">
    <li class="sidebar-section">
        <div class="sidebar-section-title">General</div>
        <ul class="sidebar-section-content">
            <li id="href-index">
                <a href="index.html">
                    <i class="fa fa-tachometer"></i>Dashboard
                </a>
            </li>
            <li>
                <a href="#" onclick="User.logout()">
                    <i class="fa fa-sign-out"></i>Logout
                </a>
            </li>
        </ul>
    </li>
    <li class="sidebar-section">
        <div class="sidebar-section-title">Restaurant</div>
        <ul class="sidebar-section-content">
            <li id="href-edit-restaurant">
                <a href="restaurant_edit.html">
                    <i class="fa fa-cube"></i>New Restaurant
                </a>
            </li>
            <li id="href-manage-restaurant">
                <a href="restaurant_manage.html">
                    <i class="fa fa-cubes"></i>Manage Restaurant
                </a>
            </li>
        </ul>
    </li>
</ul>
