<div id="nav-title">
    <a href="/index.html">What To Eat</a> 管理平台
</div>
<ul id="sidebar">
    <li class="sidebar-section">
        <div class="sidebar-section-title">通用</div>
        <ul class="sidebar-section-content">
            <li id="href-index">
                <a href="index.html">
                    <i class="fa fa-tachometer"></i>仪表盘
                </a>
            </li>
            <li>
                <a href="#" onclick="User.logout()">
                    <i class="fa fa-sign-out"></i>登出
                </a>
            </li>
        </ul>
    </li>
    <li class="sidebar-section">
        <div class="sidebar-section-title">餐厅</div>
        <ul class="sidebar-section-content">
            <li id="href-edit-restaurant">
                <a href="restaurant_edit.html">
                    <i class="fa fa-cube"></i>编辑餐厅
                </a>
            </li>
            <li id="href-manage-restaurant">
                <a href="restaurant_manage.html">
                    <i class="fa fa-cubes"></i>管理餐厅
                </a>
            </li>
            <li id="href-manage-category">
                <a href="restaurant_category.html">
                    <i class="fa fa-coffee"></i>餐厅类别
                </a>
            </li>
        </ul>
    </li>
</ul>
